{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h2>
{% endblock header %}

{% block content %}

    <h3>添加一个新日志：</h3>
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post">
        {% csrf_token %}
        
        {% if flag %}
            {{ form.media }}
            {{ form.as_p }}
        {% else %}
            {% bootstrap_form form %}
        {% endif %}

        {% buttons %}
            <button name='submit' class="btn btn-primary">新增</button>
        {% endbuttons %}
    </form>

{% endblock content %}