{% extends "learning_logs/base.html" %}

{% block header %}
    <h2>主题</h2>
{% endblock header %}

{% block content %}

    <div class="list-group list-group-flush">
        {% for topic in topics %}
            <a href="{% url 'learning_logs:topic' topic.id %}" class="list-group-item">
                <span class="badge">{{ topic.entries_num }}</span>
                <h4>{{ topic.text|title }}</h4>
            </a>
        {% empty %}
            <a>还未添加主题</a>
        {% endfor %}
    </div>

    <h3>
        <a href="{% url 'learning_logs:new_topic' %}">添加主题</a>
    </h3>

{% endblock content %}