{% extends 'learning_logs/base.html' %}

{% block header %}
    <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}

    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">增加日志</a>
    </p>
    
    {% for entry in entries %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    {{ entry.date_added|date:'M d, Y H:i' }}
                    <small>
                        <a href="{% url 'learning_logs:edit_entry' entry.id %}">修改</a>
                    </small>
                    <small>
                        <a href="{% url 'learning_logs:see_entry' entry.id %}">查看</a>
                    </small>
                </h3>
            </div>
            <div class="panel-body">
                {% if entry.text|length > 100 %}
                    {{ entry.text|linebreaks|slice:":100" }} ......
                {% else %}
                    {{ entry.text|linebreaks }}
                {% endif %}
            </div> 
        </div><!-- panel -->
    {% empty %}
            该主题还未添加日志
    {% endfor %}

{% endblock content %}