{% extends 'base.html' %}
{% load todo_extras %}



{% block header %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>
                    {% if request.user.last_name or request.user.first_name %}
                        {{ request.user.last_name }}{{ request.user.first_name }}
                    {% else %}
                        {{ request.user.username }}
                    {% endif %}
                </h3>
                <p></p>
                <h5>
                    我的圈子：
                    {% for community in communities %}
                        <a href="{% url 'todo:community' community.pk %}">{{ community }}</a>
                    {% empty %}
                        还未加入任何圈子
                    {% endfor %}
                </h5>
            </div>
            <div class="col-md-4">
                <div style="float: right;">
                    <a href="{% url 'todo:new_todo' %}">
                        <button type="button" class="btn btn-primary">
                            <span class="ion-ios-paper"></span> 新任务</button>
                    </a>
                </div> 
            </div>
        </div>
    </div>
</div>

{% endblock header %}


{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul id="myTabs" class="nav nav-pills" role="tablist">
                    <li role="presentation" style="float: right;">
                        <a href="#finish" aria-controls="finish" 
                            role="tab" data-toggle="tab" 
                            style="padding: 5px 10px;font-size: 10px">
                            完成任务
                        </a>
                    </li>
                    <li role="presentation" style="float: right;">
                        <a href="#follow" 
                            aria-controls="follow" 
                            role="tab" data-toggle="tab" 
                            style="padding: 5px 10px;font-size: 10px">
                            关注任务
                        </a>
                    </li>
                    <li role="presentation" style="float: right;">
                        <a href="#follow-up" 
                            aria-controls="follow-up" 
                            role="tab" data-toggle="tab" 
                            style="padding: 5px 10px;font-size: 10px">
                            跟进任务
                        </a>
                    </li>
                    <li role="presentation" style="float: right;" class="active">
                        <a href="#todo" 
                            aria-controls="todo" 
                            role="tab" data-toggle="tab" 
                            style="padding: 5px 10px;font-size: 10px">
                            待办任务
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div role="tabpanel"  class="tab-pane active" id="todo" >
                    {% my_todo_list T_todos request.user %}
                </div>
                <div role="tabpanel"  class="tab-pane" id="follow-up" >
                    {% my_todo_list F_todos request.user %}
                </div>
                <div role="tabpanel"  class="tab-pane" id="follow" >
                    {% my_todo_list follow_todos request.user %}
                </div>
                <div role="tabpanel"  class="tab-pane" id="finish" >
                    {% my_todo_list finish_todos request.user %}
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $('#myTabs a[href="#follow-up"]').tab('show')
    $('#myTabs a[href="#follow"]').tab('show')
    $('#myTabs a[href="#finish"]').tab('show')
    $('#myTabs a[href="#todo"]').tab('show')
</script>

{% endblock content %}

