{% extends "base.html" %}
{% load bootstrap3 %}

{% block header %}
<div class="page-header">
    <h2>新任务</h2>
    <h4 class="cl-effect-11"><a href="{% url 'todo:todo_index' %}">返回圈子</a></h4>
</div>
{% endblock header %}

{% block content %}

    <form action="{% url 'todo:new_todo' %}" method="post" class="form-group">
        {% csrf_token %}

        
        {% bootstrap_form form %}
        

        {% buttons %}
            <button name='submit_add' class="btn btn-primary">保存并增加</button>
            <button name='submit_back' class="btn btn-default">保存并返回圈子</button>
        {% endbuttons %}
        
    </form>

{% endblock content %}