{% extends 'base.html' %}
{% load todo_extras %}



{% block header %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
        {% if community %}
            <div class="col-md-8">
                <h3>{{ community }}
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            切换圈子 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for community in communities %}
                            <li><a href="{% url 'todo:community' community.pk %}">{{ community }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm">
                            <a href="{% url 'todo:new_community' %}">新建圈子</a>
                        </button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            {% if community.owner == request.user %}
                                <li><a href="{% url 'todo:edit_community' community.pk %}">修改圈子</a></li>
                            {% endif %}
                            <li><a href="#" data-toggle="modal" data-target="#myModal">退出圈子</a></li>
                        </ul>
                    </div>

                    <a class="btn btn-default btn-sm" href="{% url 'todo:meeting_agenda_list' community.pk %}" role="button">议题会</a>
                </h3>

                <p></p>
                <h5>
                    成员：
                    {% for member in members %}
                        {% if member.last_name or member.first_name %}
                            {{ member.last_name }}{{ member.first_name }}
                        {% else %}
                            {{ member.username }}
                        {% endif %}
                    {% endfor %}
                </h5>
            </div>
            <div class="col-md-4">
                <div style="float: right;">
                    <a href="{% url 'todo:new_todo' %}">
                        <button type="button" class="btn btn-primary">
                            <span class="ion-ios-paper"></span> 新任务</button>
                    </a>
                    <a href="{% url 'todo:my_todo' %}">
                        <button type="button" class="btn btn-default">
                            <span class="ion-ios-nutrition"></span> 我的任务</button>
                    </a>
                </div> 
            </div>
        {% else %}
            <div class="col-md-8">
                <h3>
                    您还未加入任何圈子
                    <a class="btn btn-link " href="{% url 'todo:new_community' %}" role="button">新建圈子</a>
                </h3>
                <p>您可以新建圈子，或联系圈主加入一个圈子~</p>
                <p>加入圈子后，您可以与同伴一起做任务喔~！</p>
            </div>
            
            <div class="col-md-4">
                <div style="float: right;">
                    <a href="{% url 'todo:new_todo' %}">
                        <button type="button" class="btn btn-primary">
                            <span class="ion-ios-paper"></span> 新任务</button>
                    </a>
                    <a href="{% url 'todo:my_todo' %}">
                        <button type="button" class="btn btn-default">
                            <span class="ion-ios-nutrition"></span> 我的任务</button>
                    </a>
                </div> 
            </div>
        {% endif %}
        </div>
        <div class="row">
            <div class="col-md-8">
                <p></p>
                <em>
                    {{ sentence.sentence }} ——{{ sentence.auther }}
                </em>
            </div>
        </div>
    </div>
</div>

{% endblock header %}


{% block content %}

<div class="row">
{% for member in members %}
    <div class="col-md-4">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul id="myTabs" class="nav nav-pills" role="tablist">
                    <li style="padding: 5px 10px;">
                        {% if member.last_name or member.first_name %}
                            {{ member.last_name }}{{ member.first_name }}
                        {% else %}
                            {{ member.username }}
                        {% endif %}
                    </li>
                    <li role="presentation" style="float: right;">
                        <a href="#{{ member.pk }}week" aria-controls="week" 
                            role="tab" data-toggle="tab" 
                            style="padding: 5px 10px;font-size: 10px">
                            周重点
                        </a>
                    </li>
                    <li role="presentation" class="active" style="float: right;">
                        <a href="#{{ member.pk }}today" 
                            aria-controls="today" 
                            role="tab" data-toggle="tab" 
                            style="padding: 5px 10px;font-size: 10px">
                            今日任务
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="panel-body tab-pane active pre-scrollable" id="{{ member.pk }}today" style="height:240px">
                    <p class="small">今日任务：</p>
                    {% todo_list today_todos member request.user %}
                    <p class="small">跟进任务：</p>
                    {% todo_list follow_todos member request.user %}
                    <p class="small">往期任务：</p>
                    {% todo_list previous_todos member request.user %}
                    
                </div>
                <div role="tabpanel" class="panel-body tab-pane pre-scrollable" id="{{ member.pk }}week" style="height:240px">
                    <p class="small">第{{ week }}周重点工作：</p>
                    {% todo_list week_todos member request.user %}
                </div>
            </div>

        </div>
    </div>
{% endfor %}


<!-- Modal -->
{% if community %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">退出圈子</h4>
            </div>

            <div class="modal-body">
                是否退出圈子：【{{ community.name }}】
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" href="{% url 'todo:exit_community' community.pk %}" role="button">确定</a>
            </div>

        </div>
    </div>
</div>
{% endif %}

<script>
    $('#myTabs a[href="#today"]').tab('show') 
    $('#myTabs a[href="#week"]').tab('show') 
</script>

{% endblock content %}

