{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>修改密码</h2>
{% endblock header %}

{% block content %}

    <form method="post" action="{% url 'users:password_change' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="submit" class="btn btn-primary">保存</button>
            <a class="btn btn-default" href="{% url 'todo:todo_index' %}" role="button">取消</a>
        {% endbuttons %}
        
        <input type="hidden" name="next" value="{% url 'todo:todo_index' %}" />
    </form>

{% endblock content %}