{% extends 'impression_base.html' %}

{% block header %}
<div class='row'>
    <div class='impression'>
        <p>
            <a class='line'></a>
            {{ request.user }}
            ， 您好！
            <a class='logout' href="{% url 'users:logout' %}">退出登录</a>
        </p>
    </div>
</div>
{% endblock header %}


{% block content %}
<div class='row'>
    <div class='impression my_community'>
    <p class='header'><a class='line'></a>我的圈子</p>

    
    {% if communities %}
        {% for community in communities %}
            <p class='community'><a href={% url 'impression:my_impression' community.pk %}>{{ community.name }}</a></p>
        {% endfor %}
    {% else %}
        <p class='community'>
            <a>请联系圈主加入圈子~</a>
        </p>
    {% endif %}
    </div>
</div>
{% endblock content %}
