{% extends 'impression_base.html' %}

{% block header %}
<div>
    <p>{{ request.user }} 您好！</p>
    <p>Pick币余额{{ my_picks.pick_coin_num }}</p>
</div>
{% endblock header %}


{% block content %}
<div>
    <p>我的印象</p>

    
    {% if my_impression %}
        {% for impression in my_impression %}
            <p><a href={% url 'impression:impression_pick_list' request.user.pk impression.impression__id %}>
                {{ impression.impression__impression }} - {{ impression.picks__sum }}Picks
            </a></p>
        {% endfor %}
    {% endif %}
    
</div>

<div>
    <p>{{ community.name }}</p>

    {% if members_impression %}
        {% for member in members_impression %}
            <p><a href={% url 'impression:member_impression' community.pk member.user %}>{{ member.impression__impression }} - {{ member.user__first_name }}</a></p>
        {% endfor %}
    {% endif %}
</div>

{% endblock content %}