{% extends 'impression_base.html' %}

{% block header %}
<div class='row'>
    <div class='impression'>
        <p>
            <a class='line'></a>新印象
            <a class='pick_coin'>Pick币余额{{ my_picks.pick_coin_num }}</a>
        </p>
    </div>
</div>
{% endblock header %}

{% block content %}
    <div class='row'>
        <div class='impression'>
            
            <p class='header'>
                <a class='line'></a>添加自定义新印象
            </p>

            <div class='form_add_impression'>
            {% if form.errors %}
                <p>错误信息：{{ form.errors }}</p>
            {% else %}
                <form  method="post">

                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button name='submit' >下一步</button>

                </form>
            {% endif %}
            </div>

        </div>
    </div>


{% endblock content %}