/**
 * 印象css文件
 */

body
{
    background-color:rgba(246, 246, 246, 1);
}
div.impression 
{
    background-color: White;
    padding: 10px;
    margin: 20px 0px 0px 0px;
}
div.impression p
{
    margin: 0px;
    padding: 0px 10px 0px 10px;
}
div.impression p.header
{
    padding: 10px 0px 20px 10px;
}
div.impression a.line
{
    border-bottom-style:solid;
    border-width:medium;
    border-color:OrangeRed;
}
div.impression span.right
{
    float: right;
    padding: 0px 10px 0px 0px;
}